---
layout: default
---

<h1>{{ page.title }}</h1>
<p id="subtitle">
  {{ page.date | date: "%Y, %B %d (%A)" }}
  <br>
  {{ page.author }}
</p>

{{ content }}

<div id="author">
  {% for author in site.data.authors %}
    {% if author.name == page.author %}
      {% if author.website %}
        <h2>Author: <a href="{{ author.website }}">{{ author.name }}</a></h2>
      {% else %}
        <h2>Author: {{ author.name }}</h2>
      {% endif %}
      <div>
        {% if author.avatar %}
          <img src="{{ author.avatar.src }}"
            alt="{{ author.avatar.alt }}" title="{{ author.avatar.alt }}"
          >
        {% endif %}
        <p>{{ author.intro }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>

